@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
   margin: 0;
}

body {
   width: 1024px;
   font-family: "Open Sans", sans-serif;
}

h1 {
   font-size: 1.7em;
   font-weight: 600;
}

h3 {
   font-size: 1.5em;
   font-weight: 500;
}

.titleSection {
   font-weight: 400;
   font-size: 2em;
   text-align: center;
   padding: 0px 0 30px 0;
}

.subtitleSection {
   color: gray;
   text-align: center;
   width: 50%;
   margin: 0 auto 40px auto;
}

header h1 {
   min-height: 150px;
   text-align: left;
   padding: 120px 40px;
   color: #ffffff;
   background-color: sienna;
   background-image: url("/img/header.jpg");
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
}

nav {
   width: 100%;
   background-color: rgb(99, 69, 138);
   padding: 25px 0;
}

nav ul li {
   list-style-type: none;
   display: inline;
}

nav a {
   color: #ffffff;
   padding: 15px 15px;
   margin-right: 15px;
   text-decoration: none;

}

nav a:hover {
   background-color: #ffffff;
   color: #6C22A6;
   border-radius: 5px;
}

/*Who We Are*/



/*Services Section*/

#services {
   padding: 40px 40px 60px 40px;
   text-align: center;
}

.cardServices {
   width: 21.5%;
   margin-right: 15px;
   margin-bottom: 40px;
   display: inline-block;
   text-align: justify;
}

#services i {
   color: rgb(99, 69, 138);
   vertical-align: top;
   margin-top: 5px;
   margin-right: 8px;
   font-size: 2.2em;
   border: solid 4px lightgray;
   padding: 16px;
   border-radius: 50%;
}

.cardServices p {
   line-height: 2em;
   color: gray;
}

.cardServices h3 {
   margin-bottom: 25px;
}


/*Portfolio Section*/



/*Location Section*/

#location {
   text-align: center;  
   width: 100%;
   padding: 10px;    
   margin: 10px;
}

#location h2 {    
   font-family: "Open Sans", sans-serif;
   width: 100%;
   padding: 10px;    
   margin: 10px;
}

#location h4 {
   font-family: "Open Sans", sans-serif;
   width: 100%;
   padding: 10px;    
   margin: 10px;
}

#maps{
   
   column-count: 2;
   padding: 10px;    
   margin: 10px;
}

#maps iframe{
   border-color:lightslategray;
   border-radius: 150px;
   width: 300px;
   height: 300px;
}

#location address{
   text-align: left;
   width: 100%;
   padding: 10px;    
   margin: 10px;    
}

/*Email Us Section*/

#contact {
   width: 100%;
   background-color: rgb(122, 98, 156);
   background-image: url("/img/map-image.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding: 40px 0px 100px 0px;
   color: #ffffff;
   text-align: center;
}

#contact form {
   display: inline-block;
   text-align: left;
}

#contact label {
   width: 100px;
   display: inline-block;
}

.inputSizing {
   width: 230px;
   height: 30px;
   border: none;
   border-radius: 3px;
   margin-bottom: 8px;
   vertical-align:top
}

.textareaSizing {
   width: 230px;
   border: none;
   border-radius: 3px;
   margin-bottom: 8px;
   vertical-align:top
}

input[type="submit"] {
   padding: 0 35px;
   margin-top: 15px;
}

/*Footer*/

footer {
   background-color: rgb(99, 69, 138);
   color: #ffffff;
   text-align: right;
   font-size: x-small;
   padding: 10px 10px;
}

footer a {
   color: #ffffff;
}

footer a:hover {
   background-color: #ffffff;
   color: rgb(99, 69, 138);
}
