/* Importación de GoogleFonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Estilos generales */

* {
   margin: 0;
}

body {
   width: 1024px;
   font-family: "Open Sans", sans-serif;
}

h1 {
   font-size: 1.7em;
   font-weight: 600;
}

h3 {
   font-size: 1.5em;
   font-weight: 500;
}

.titleSection {
   font-weight: 400;
   font-size: 2em;
   text-align: center;
   padding: 0px 0 30px 0;
   color: #ffffff;
}

.subtitleSection {
   color: gray;
   text-align: center;
   width: 50%;
   margin: 0 auto 40px auto;
}

/*Header y Nav*/

header h1 {
   min-height: 150px;
   text-align: left;
   padding: 120px 40px;
   color: #ffffff;
   background-color: sienna;
   background-image: url("/img/header.jpg");
   background-size: 100%;
   background-position: center;
   background-repeat: no-repeat;
}

nav {
   width: 100%;
   background-color: rgb(99, 69, 138);
   padding: 25px 0;
}

nav ul li {
   list-style-type: none;
   display: inline;
}

nav a {
   color: #ffffff;
   padding: 15px 15px;
   margin-right: 15px;
   text-decoration: none;

}

nav a:hover {
   background-color: #ffffff;
   color: #6C22A6;
   border-radius: 5px;
}

/*Who We Are*/

#whoweare {
   background-color: rgba(211, 211, 211, 0.192); 
   color: grey;
   width: 100%;
   padding: 30px 0 0;
}
.titleSection {
   color: black;
}
.lore {
   color: black;
}
.subtitleSection {
   text-align: center;
}
.pictexto {
   float: left;
   margin-right: 10px;
   margin-bottom: 5px;
}
.picpublicidad {
   margin: 20px 15px 20px 45px
}
.columnas {
   text-align: justify;
   color: gray;
   column-count: 2;
   column-gap: 40px;
   column-rule: 1px solid rgba(119, 136, 153, 0.274);
   margin: 20px;
   padding: 0 40px;
}

/*Services Section*/

#services {
   padding: 40px 40px 60px 40px;
   text-align: center;
}

#services i {
   color: rgb(99, 69, 138);
   vertical-align: text-top;
   margin-top: -83px;
   margin-right: 8px;
   font-size: 2.2em;
   border: solid 4px lightgray;
   padding: 16px;
   border-radius: 70%;
}

.cardServices {
   text-align: justify;
   margin-bottom: 50px;
   padding-right: 25px;
} 

.cardServices p {
   font-size: small;
} 

#services i:hover {
   background-color: rgb(99, 69, 138);
   color: #ffffff;
   transition: 0.5s;
}

.cardServices p {
   line-height: 2em;
   color: gray;
}

.cardServices h3 {
   margin-bottom: 25px;
}


/*Portfolio Section*/

#portfolio { /*Portfolio etiqueta de la seccion portafolios, modifica todo
   el article*/
  background-size: cover;
  background-color: rgba(144, 144, 144, 0.118);
  color: rgb(79, 79, 79);
  padding: 30px 60px 45px;
  margin: auto;
  text-align: center;
}
.imgrote { /*imgrote etiqueta de fotos que giran a 10°*/
   width: 250px;
   height: 150px;
}
.rotacion360 { /*rotacion360 estiqueta de imagen que gira 360°*/
   width: 250px;
   height: 150px;
}
.rotacion360 {
   transform: rotate(-360deg);
   transition: 1s;
}
.rotacion360:hover{
   transform: rotate(360deg);
   transition: 1s ease-in-out;
   border-radius: 50%;
}
.imgrote {
   transform: rotate(0deg);
   transition: 1s;
}
.imgrote:hover{
   transform: rotate(-10deg);
   transition: 1s ease-in-out;
}

/*Location Section*/

#location {
   text-align: center;  
   width: 100%;
   padding: 40px 0 30px;    
   margin: 10px;
}

#location h2 {    
   font-family: "Open Sans", sans-serif;
   width: 100%;
}

#location h4 {
   font-family: "Open Sans", sans-serif;
   width: 100%;
   padding: 10px;    
   margin: 10px;
}

#maps{
   column-count: 2;
   padding: 10px;    
   margin: 10px 180px 0px;
}

#maps iframe{
   border-color:lightslategray;
   border-radius: 150px;
   width: 300px;
   height: 300px;
}

#location address{
   text-align: left;
   width: 100%;
   padding: 20px 0;    
   margin: 10px;    
}

/*Email Us Section*/

#contact {
   width: 100%;
   background-color: rgb(122, 98, 156);
   background-image: url("/img/map-image.png");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding: 40px 0px 100px 0px;
   color: #ffffff;
   text-align: center;
}

#contact .titleSection {
   color: #ffffff;
}

#contact form {
   display: inline-block;
   text-align: left;
}

#contact label {
   width: 100px;
   display: inline-block;
}

.inputSizing {
   width: 230px;
   height: 30px;
   border: none;
   border-radius: 3px;
   margin-bottom: 8px;
   vertical-align:top
}

.textareaSizing {
   width: 230px;
   border: none;
   border-radius: 3px;
   margin-bottom: 8px;
   vertical-align:top
}

input[type="submit"] {
   padding: 0 35px;
   margin-top: 10px;
   font-size: x-small;
}

/*Footer*/

footer {
   background-color: rgb(99, 69, 138);
   color: #ffffff;
   text-align: right;
   font-size: x-small;
   padding: 10px 10px;
}

footer a {
   color: #ffffff;
}

footer a:hover {
   background-color: #ffffff;
   color: rgb(99, 69, 138);
}
